#
# User defined Makefile options for the uactivity plugin
#
# Copy this file to 'Make.config' and change the parameters as necessary.
#

# The shell command used

PLUGIN_UACTIVITY_COMMAND?=vdr-uactivity -r \"%1$$s\" -o \"%2$$s\" -C \"%3$$s\" -c \"%4$$s\" -R \"%5$$s\" -A \"%6$$s\" -K \"%7$$s\" -V \"%8$$s\"



# Set to supress the install of the shell script package

#PLUGIN_UACTIVITY_NOINSTALL_BIN=true
