#
# User defined Makefile options for the uactivity plugin
#
# Copy this file to 'Make.config' and change the parameters as necessary.
#

# The shell command used

PLUGIN_UACTIVITY_COMMAND?=vdr-uactivity -r %1$$s -o %2$$s -v %3$$s -C %4$$s -c %5$$s -R %6$$s



# Set to supress the install of the shell script package

#PLUGIN_UACTIVITY_NOINSTALL_BIN=true
